@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.pillar {
    color: whitesmoke;
}

.badge-plan {
    background-color: #6c757d;
}

.badge-ongoing {
    background-color: #ffc107;
}

.badge-need-review {
    background-color: #fd7e14;
}

.badge-revision {
    background: #252728;
}

.badge-approved {
    background-color: #17a2b8;
}

.badge-published {
    background-color: #28a745;
}

.badge-cancel {
    background-color: #dc3545;
}