@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.badge-plan {
    background-color: lightgray;
}

.badge-ongoing {
    background-color: yellow;
}

.badge-need-review {
    background-color: orange;
}

.badge-revision {
    background: black;
    color: white;
}

.badge-approved {
    background-color: skyblue;
}

.badge-published {
    background-color: green;
    color: white;
}

.badge-cancel {
    background-color: red;
    color: white;
}